{{ partial "head.html" . }}

<section id="main">
  <section class="lorenzo-pic">
    <img src="/avatar.jpg" />
    <h2>fntlnz</h2>
    <ul>
      <li><a href="https://github.com/fntlnz">github</a></li>
      <li><a href="https://twitter.com/fntlnz">twitter</a></li>
      <li><a href="/downloads/pubkey-B2400EE4.asc">gpg key</a></li>
      <li><a href="/index.xml">RSS</a></li>
    </ul>
  </section>
  <section class="list">
    <h2>Blog Posts</h2>
    <ul>
      {{ range where .Data.Pages "Section" "post"}}
      <li class="postExcerpt">
        <a href='{{ .Permalink }}'>{{ .Title }}</a> 
        <time>{{ .Date.Format "Jan 2, 2006" }}</time>
      </li>
      {{ end }}
    </ul>

    <h2>Other Publications</h2>
    <ul>
      {{ range where .Data.Pages "Section" "links"}}
      <li class="postExcerpt">
        <a href='{{ echoParam .Params "link" }}'>{{ .Title }}</a>
        <time>{{ .Date.Format "Jan 2, 2006" }}</time>
      </li>
      {{ end }}
    </ul>

    <h2>Upcoming Talks</h2>
    <ul>
      {{ range where .Data.Pages.ByDate "Section" "talks-upcoming"}}
      <li class="postExcerpt">
        <a href="{{ echoParam .Params "details" }}">{{ echoParam .Params "where" }}</a>
        <time>{{ .Date.Format "Jan 2, 2006" }}</time>
        <br />
        <em>{{ .Title }}</em>
      </li>
      {{ end }}
    </ul>

    <h2>Talks</h2>
    <ul>
      {{ range where .Data.Pages "Section" "talks"}}
      <li class="postExcerpt">
        <a href="{{ echoParam .Params "details" }}">{{ echoParam .Params "where" }}</a>
        <time>{{ .Date.Format "Jan 2, 2006" }}</time>
        <br />
        <em>{{ .Title }}</em> 
        {{ if index .Params "slide" }}- <a href="{{ echoParam .Params "slide" }}">slides</a>{{ end }}
        {{ if index .Params "video" }}- <a href="{{ echoParam .Params "video" }}">video</a>{{ end }}
      </li>
      {{ end }}
    </ul>
  </section>

</section>

{{ partial "foot.html" . }}
