/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html{
  height: 100%;
}

body {
  background-color:rgb(250, 251, 252);
  height: 100%;
}

em {
  font-style: italic;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Generic styles */
.container { 
  background-color: white;
  border-style: solid solid none none;
  border-width: 0px 10px 0px 0px;
  height: 100%;
  border-color: rgb(225, 228, 232);
  border-radius: 0px;
  line-height: 1;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 0.5em;
  padding-bottom: 1em;
  max-width: 780px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #111111;
  line-height: 1.58;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  line-height: 1.10;
}

@media only screen and (max-device-width: 480px) {
  .container {
    padding-left: 0.5em;
  }
}

a {
  color: black;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

strong {
  font-weight: bold;
}


/* Index */
.topBar {
  font-size: 2.5em;
  font-weight: 700;
  letter-spacing: -.015em;
  font-style: normal;
  color: rgb(36, 35, 35);
}

section.list ul {
  list-style-type: none;
}

li.postExcerpt time {
  color: #666666;
  margin-right: 2em;

}

li.postExcerpt p {
  color: #666666;
  padding-bottom: 1.4em;
}


section.postExcerpt section {
  display: block;
}

section.postExcerpt h1 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 0.3em;
}


section.postExcerpt header {
  margin-bottom: 0.4em;
}

section.lorenzo-pic {
  margin-right: 2em;
  float: left;
  padding-top: 1.2em;
}

section.lorenzo-pic > img {
  max-width: 100px;
}

section.list {
  max-width: 80%;
  float: left;
}

section.lorenzo-pic {
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: 1em;
  display: block;
}

section.lorenzo-pic ul {
  width: 100%;
  margin: 0;
  overflow: hidden;
}
section.lorenzo-pic li {
  display: inline;
  list-style-type: none;
  padding-right: 1em;
}

section.lorenzo-pic li a {
  color: #375EAB;
}

/* Single */

.topBarSingle {
  font-size: 0.9em;
  font-weight: 700;
  letter-spacing: -.015em;
  font-style: normal;
  color: rgb(36, 35, 35);
}



article section#title h1 {
  font-size: 2.3em;
  font-weight: 700;
  letter-spacing: -.015em;
  font-style: normal;
  color: rgb(36, 35, 35); 
}


@media screen and (min-width: 0px) and (max-width: 600px) {
  .topBar {
    font-size: 1.4em;
  }
  li.postExcerpt time {
    margin-right: 0.1em;
    font-size: 0.9em;
  }
  section.lorenzo-pic li {
    padding-right: 0.2em;
  }
}


article > #title > time {
  color: #375EAB;
  font-size: 1em;
}

article section#content {
  line-height: 33px;
  font-size: 19px;
  font-weight: 400;
  letter-spacing: -0.0666667px;
  margin-top: 10px;
  text-rendering: optimizeLegibility;
  overflow-wrap: break-word;
  font-feature-settings: "liga"
}

@media only screen and (max-device-width: 480px) {
  article section#content {
    line-height: 28px;
    font-size: 18px;
  }
}

article section#content ul {
  margin-bottom: 1em;
  line-height: 1.5em;
  margin-top: 1em;
  margin-left: 2em;
}

article section#content > :not(h1):not(h2):not(h3):not(h4):not(ul) {
  margin-left: 0.4em;
}

article section#content h1 {
  font-size: 1.4em;
  font-style: normal;
  margin-bottom: 0.4em;
  font-weight: 800;
  margin-top: 0.8em;
}

article section#content h2 {
  font-size: 1.3em;
  font-style: normal;
  margin-bottom: 0.4em;
  font-weight: 800;
  margin-top: 0.5em;
}

article section#content h3 {
  font-size: 1.2em;
  font-style: normal;
  font-weight: 800;
  margin-bottom: 0.4em;
  margin-top: 0.4em;
}

article section#content h4 {
  font-size: 1.1em;
  font-style: normal;
  font-weight: 800;
  margin-bottom: 0.4em;
  margin-top: 0.3em;
}

/* Quotes */
blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  font-style: italic;
  margin: 0.8em 10px;
  padding: 0.1em 10px;
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.07em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

/* Lists */
ul {
  list-style-type: disc;
  list-style-position: outside;
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
}

ul ul, ol ul {
  list-style-type: circle;
  list-style-position: inside;
  margin-left: 15px;
}

ol ol, ul ol {
  list-style-type: lower-latin;
  list-style-position: inside;
  margin-left: 15px;
}

img {
  width: 100%;
  max-width: 750px;
  height: auto;
}

hr {
  border: none;
  height: 0.9px;
  color: #e7eaeb;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  background-color: #e6e9ea;
}

section.list {
  max-width: 100%;
  margin-top: 1.2em;
}

section#main h2 {
  font-weight: bold;
  margin-top: 0.8em;
}

.foothandle {
  width: 100%;
  font-size: 0.9em;
  bottom: 0;
  right: 0;
  text-align: right;
}

p > code {
  padding: .2em;
  margin: 0;
  font-size: 85%;
  background-color: #fbfae6;
  border-radius: 3px;
  font-family: Courier, "Courier New", mono;
}

pre {
  display: block;
  font-size: 15px;
  font-family: Courier, "Courier New", mono;
  margin: 1em 0;
  width: auto;
  padding: 15px;
  border: 1px solid #ddd;
  background: #fbfae6;
  overflow-x: auto;
  line-height: 20px;
}


article p {
  padding-bottom: 1em;
}

