{{ if eq .URL "/" }}
<meta property="og:type" content="website">
{{ range first 1 .Data.Pages }}
<meta property="og:title" content="{{ .Site.Title }}">
{{ end }}
{{ else if eq .URL "/post/" }}
<meta property="og:title" content="All Entries &middot; {{ .Site.Title }}">
{{ else }}
<meta property="og:type" content="article">
<meta property="og:title" content="{{ .Title }} &middot; {{ .Site.Title }}">
{{ if .Params.image }}
<meta property="og:image" content="{{.Site.BaseURL}}{{ .Params.image }}" />
{{ end }}
{{ end }}
